---
layout: layouts/hlavni-sablona.njk
---

<!-- vložíme hlavičku stránky -->
{% include 'partials/header.njk' %}

<!-- přidáme menu -->
{% include 'partials/menu.njk' %}

<!-- {% if title !== 'Blog' %}
<div class="informace">
	Z narizeni vlady je nase prodejna zavrena. V oteviracich hodinach slouzime pouze jako vydejna objendavek z e-shopu.
</div>

{% endif %} -->


{% if page.fileSlug !== 'blog' %}
	<div class="informace">
		Z narizeni vlady je nase prodejna zavrena. V oteviracich hodinach slouzime pouze jako vydejna objendavek z e-shopu.
	</div>
{% endif %}


<main class="main">

	<!--
		zde se vloží obsah stránky (nebo šablony),
		která používá tuto šablonu
	-->
	{{ content | safe }}

</main>


<!-- vložíme patičku stránky -->
{% include 'partials/footer.njk' %}