/* intuitivnejsi box-sizing */
html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 18px;
}

/* ------------------------------------- */

.menu__checkbox {
	position:absolute;
	left: -9999px;
}


.menu__list {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: rgb(127, 127, 127);

}

.menu__item {
	border-bottom: 1px solid white;
}

.menu__link {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;

}


.menu__link:hover {
	background-color: rgb(82, 154, 130);
}

@media screen and (max-width: 799px) {

.menu__checkbox:checked ~ .menu__list {
	display: block;
}
}


@media screen and (min-width: 800px) {
	.menu__toggler {
		display: none;
	}

	.menu__list {
		display: flex;
		justify-content: right;
	}

	.menu__item {
		border-bottom: 0;
		border-right: 1px solid white;

	}
}
